*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Gilroy";
}
html,body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(90deg, #7d5fff,#7158e2);
}
.search{
    position: relative;

}
.search .input{
    height: 60px;
    width: 60px;
    padding: 20px;
    transition: width .3s ease;
    border: 0;
    font-size: 20px;
}
.search .btn{
    background-color: #FFFFFF;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 28px;
    height: 60px;
    width: 60px;
    transition: transform .3s ease;
    border: 0;
    cursor: pointer;
}
.input:focus,
.btn:focus{
    outline: 0;
}

.search.active .input{
    width: 275px;
}
.search.active .btn{
    transform: translateX(270px);
}